div {
    height: 90vh;
    display: grid;
    align-items: center;
    justify-content: center;
    
}
tr {
    background-color: rgb(117, 236, 117);

}
td {
    background-color: rgba(131, 126, 126, 0.849);
    width: 30px;
    height: 50px;
}

.allien{
    background-image: url("img/alien.png");
    background-repeat: no-repeat;
    align-items: center;
}


.spaceShip{
    background-color: rgb(82, 23, 124);
}

.spaceSupporter{
    background-color: rgba(127, 255, 212, 0.767);
}

.suppoAlienCell {
    background-image: url("img/alien.png");
        background-repeat: no-repeat;
        align-items: center;
}